<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="/style.css">
<body>
   <h1>Edit Student</h1>

<form action="/dashboard/<%= student.StudentID %>?__method=PATCH" method="POST">

    <input
        type="text"
        name="Name"
        value="<%= student.Name %>"
    >

    <input
        type="text"
        name="Contact"
        value="<%= student.Contact %>"
    >

    <input
        type="text"
        name="Course"
        value="<%= student.Course %>"
    >

    <button class="submit-btn">Update Student</button>

</form>

</body>
</html>