<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Student</title>
<link rel="stylesheet" href="/style.css">

</head>
<body>
    <h2>Enter Student Details</h2>
    <form action="/dashboard" method="post">
        <input type="text" name="Name" placeholder="Student_Name"><br><br>
        <input type="text" name="Contact" placeholder="Contact_Number"><br><br>
        <input type="text" name="Course" placeholder="Course"><br><br>
        <button>Submit</button>
    </form>
</body>
</html>