<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RollNo. Details</title>
<link rel="stylesheet" href="/style.css">

</head>
<body>
    <div class="card">
    <h2>Student Details</h2>
    <table>
        <tr>
            <th>
                StudentRollNo.
            </th>
            <th>
                StudentID
            </th>
            <th>
                Name
            </th>
            <th>
                Contact
            </th>
            <th>
                Course
            </th>
        </tr>
        <tr>
            <td>
                1
            </td>
            <td>
                <%= student.StudentID %>
            </td>
            <td>
                <%= student.Name %>
            </td>
            <td>
                <%= student.Contact %>
            </td>
            <td>
                <%= student.Course %>
            </td>
        </tr>
    </table>
    </div>
</body>
</html>